body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
}

.header-nav-list {
  font-weight: 500;
  text-decoration: none;
  color: #2e2f42;
}

.header-nav-list:hover,
.header-nav-list:focus {
  color: #404bbf;
}

.address-header {
  font-style: normal;
}

.address-header .address-list-item .adress-link {
  font-style: normal;
  font-weight: 400;
  color: #434455;
  text-decoration: none;
}

.address-header .address-list-item .adress-link:hover,
.address-header .address-list-item .adress-link:focus {
  color: #404bbf;
}

.logo-full {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.logo-full:hover,
.logo-full:focus {
  color: #ed0707;
}

.web-logo {
  color: #f4f4fd;
}

.web-logo-header {
  color: #2e2f42;
}

.web-logo:hover,
.web-logo:focus {
  color: #ed0707;
}

.main-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.main-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  text-align: center;
  cursor: pointer;
}

.main-button:hover {
  background-color: #404bbf;
}

.main-button:focus {
  background-color: #404bbf;
}

.section-2-main .header-discr .section-2-list .section-2-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-2-p {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.our-team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-3-main .section-3-ul .section-3-li .section-2-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-3-main .section-3-ul .section-3-li {
  background-color: #ffffff;
}

.section-3-main .section-3-ul .section-3-li .section-3-p {
  font-size: 16px;
}

.footer-discr {
  font-weight: 400;
  color: #f4f4fd;
}

.section-4-full .header-our-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.section-4-full .port-sect .section-4-li .secton-4-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-4-full .port-sect .section-4-li .section-4-p {
  color: #434455;
}
.footer-all {
  background-color: #2e2f42;
}

.section-1-main {
  background-color: #2e2f42;
}

.section-3-main {
  background-color: #f4f4fd;
}

.section-3-ul {
  background-color: #ffffff;
}
