body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}

ul,
ol {
  list-style-type: none;
}

.header-studio,
.header-portfolio,
.header-contacts {
  font-weight: 500;
  text-decoration: none;
}

.header-studio:hover,
.header-studio:focus,
.header-portfolio:hover,
.header-portfolio:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: #ed0707;
}

.address-header li {
  font-weight: 400;
  color: #434455;
  font-style: normal;
  text-decoration: none;
}

.address-header li:hover,
.address-header li:focus {
  color: #ed0707;
}

.logo-full {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}

.logo-full:hover,
.logo-full:focus {
  color: #ed0707;
}

.web-logo {
  color: #4d5ae5;
}

.web-logo:hover,
.web-logo:focus {
  color: #ed0707;
}

.main-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.main-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  text-align: center;
  cursor: pointer;
}

.main-button:hover,
.main-button:focus .main-button:active {
  color: #e21616;
}

.header-discr li h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-discr li p {
  font-weight: 400;
  color: #434455;
}

.our-team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.our-team-header ul li h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.our-team-header ul li p {
  font-weight: 400;
  text-align: center;
  color: #434455;
}

.footer-discr {
  font-weight: 400;
  color: #f4f4fd;
}

.header-our-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.port-sect h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
